<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container mb-3">
            <h2 clas="mb-3">About</h2>
            <p>Hi!</p>
            <p>This website was created to study nodeJS</p>
        </div>
    </body>
</html>